.App {
  text-align: center;
}

.SearchInput {
  width: 500px;
  padding: 5px
}

.ResultContainer {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  max-height: 500px;
  overflow-y: scroll;
}
.Result {
  display: block;
  padding: 3px;
}
.Result:hover{
  background-color: beige;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
